body {
    /* width: 100vw; */
    /* min-height: 100vh; */
    background: #ECF3F5;
    background-image: url('assets/img/bg.png');
    background-size: cover;
    color: #01132B;
}

a, p {
    margin: 0;
    padding: 0;
}

/* #bgdiag1, #bgdiag2, #bgdiag3 {
    position: absolute;
    width: 330px;
    height: 2940px;
    background: #DAE7F0;
    box-shadow: 0px 0px 40px 30px #DAE7F0;
    transform: rotate(-20.75deg);
}

#bgdiag1 {
    left: 1257px;
    top: -226.21px;
}

#bgdiag2 {
    left: 577px;
    top: -93.21px;
}

#bgdiag3 {
    left: -127px;
    top: -79.21px;
} */

.mainNav {
    background-color: #ECF3F5;
}

a.nav-link .active {
    color: #01132B !important;
}

.cover {
    min-height: 85vh;
}

.logo {
    max-width: 450px;
}

.motto {
    font-family: 'Changa', sans-serif;
    font-size: 30px;
}

.subtitle {
    max-width: 700px;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    line-height: 26px;
}

.subtitle a {
    color: #01132B !important;
}

.header {
    font-family: 'Assistant', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.headerSmall {
    font-family: 'Assistant', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

p.instructor {
    text-align: left;
    font-size: smaller;
}

p.sub {
    font-size: medium;
}

button.moreProg {
    font-family: 'Bebas Neue', cursive;
    background-color: #01132B;
    color: #FFB84E;
    font-size: x-large;
    max-width: 300px;
    text-decoration: underline;
}

.team img {
    max-width: 14rem;
    border-radius: 50%;
}

.name {
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.role {
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.description {
    font-family: 'Assistant', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.personalSite {
    font-family: 'Assistant', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

#contact-us i, i.fa-home {
    font-size: 30px;
    color: #01132B;
}

.socials i {
    font-size: 20px;
    color: #01132B;
}

.footer {
    background-color: #01132B;
}

.footer .nav-link {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    color: #FFB84E !important;
}

.footer i {
    font-size: 20px;
    color: #FFB84E !important;
}



p.text {
    font-size: 16px;
    font-family: 'Assistant', sans-serif;
}

.text a {
    color: #01132B !important;
}

.card-footer {
    background-color: #ECF3F5 !important;
}

.errorText {
    font-family: 'Passion One', cursive;
}

button.bonusBtn {
    background-color: #01132B;
    font-size: small;
    font-weight: bold;
    color: #FFB84E;
    width: 150px;
    text-decoration: underline;
}

button.cartBtn {
    background-color: #FFB84E;
    font-size: small;
    font-weight: bold;
    color: #01132B;
    width: 60px;
    text-decoration: none;
}

a.hoverText:hover {
    text-decoration: underline !important;
}

.hoverCard:hover {
    box-shadow: 0 10px 30px 0 #01132b86;
    cursor: pointer;
    transition: linear 0.3s !important;
}

i:hover {
    color: #FFB84E !important;
    transition: linear 0.2s;
}

.prog-img {
    max-width: 25rem;
    border-radius: 10px;
    overflow: hidden;
}
.prog-info {
    max-width: 30rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    position: relative;
    z-index: -1;
    margin-top: -8rem;
    padding-top: 10rem;
}
.prog-card {
    max-width: 30rem;
    height: fit-content;
    cursor: pointer;
}

.feature {
    max-width: 20rem;
}

.signupBtn {
    background-color: #01132B;
    color: #FFB84E;
    text-decoration: none;
}

.feature-img {
    width: 150px;
    height: 120px;
    margin: 0 auto;
}

/* font-family: 'Assistant', sans-serif;
font-family: 'Bebas Neue', cursive;
font-family: 'Changa', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Permanent Marker', cursive; */